.cof2-ego-section .resource-points .fa-brain {
  color: #7b4fb5;
}
.cof2-ego-cost {
  color: #7b4fb5;
}
.cof2-ego-col,
.cof2-ego-cell {
  color: #7b4fb5;
}
.cof2-psionique legend {
  color: #7b4fb5;
  font-weight: bold;
}
